<!-- Banner -->		
<section id="banner">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">

		<header>
			<h2>{% include gogologo.svg %}</h2>
		</header>
		<p>Welcome to <strong>Where's Gogo</strong>, my
		<br />
		personal blog for travel, lifestyle 
		<br />
		and all things <a href="{{ site.baseurl }}{% post_url 2017-05-29-whos-gogo %}">Gogo</a>.</p>
	</div>

</section>