<!-- Banner -->		
<section id="banner">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">

		<header>
			<h2>{% include gogologo.svg %}<!-- <object type="image/svg+xml" data="{{ site.baseurl }}/css/images/gogologo.svg"></object> --></h2>
		</header>
		<p>This is <strong>Where's Gogo</strong>, a personal
		<br />
		blog -- I am still setting
		<br />
		<a href="#">things up!</a>.</p>
	</div>

</section>