<header id="header">
	<h1 id="logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/css/images/gogologo.svg" alt="logo"><span> by Gabrielle Erftenbeck</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="{{ site.baseurl }}/about.html">About Me</a></li>
			<li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
			<li><a href="{{ site.baseurl }}/photos.html">Photos</a></li>
			<li><a href="{{ site.baseurl }}/knits.html">Knits</a></li>
			<li class="submenu">
							<a href="#" class="button special">Connect</a>
							<ul>
								<li><a href="#">Subscribe</a></li>
								<li><a href="https://www.instagram.com/gabrielleerftenbeck/">Instagram</a></li>
								<li><a href="https://www.snapchat.com">Snapchat</a></li>
								<li><a href="https://www.pinterest.com/gabrielleerften/">Pinterest</a></li>
								<li><a href="https://github.com/wheresgogo/">Github</a></li>
								<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
							</ul>
						</li>
		</ul>
	</nav>
</header>